---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="research-intro">
    <p>
      This page combines published work and active working papers. A more complete citation record is also available on
      <a href="https://scholar.google.com/citations?user=1icOpU4AAAAJ&hl=en">Google Scholar</a>.
    </p>
  </div>
{% endif %}


{% include base_path %}

<section class="research-group">
  <div class="research-group__header">
    <p class="research-group__eyebrow">Published</p>
    <h2>Articles and preprints</h2>
  </div>
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
</section>
