---
layout: archive
title: "Research"
permalink: /publications/
author_profile: false
---

{% if site.author.googlescholar %}
  <p class="page-deck">Peer-reviewed articles and published preprints. A complete citation record is available on <a href="https://scholar.google.com/citations?user=1icOpU4AAAAJ&hl=en">Google Scholar</a>.</p>
{% endif %}


{% include base_path %}

<section class="research-group">
  <div class="research-group__header">
    <p class="research-group__eyebrow">Selected work</p>
    <h2>Articles &amp; preprints</h2>
  </div>
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
</section>
